/Ung dung/Ung dung quan ly quan ca phe/build/
/Ung dung/Ung dung quan ly quan ca phe/nbproject/private/
/Ung dung/DoAn_Java/build/
/Ung dung/DoAn_Java/nbproject/private/
/Ung dung quan ly quan ca phe/DoAn_Java/build/
/Ung dung quan ly quan ca phe/DoAn_Java/nbproject/private/